<div style=" background-color: black;height: 20vh; color: white; text-align: center;"><h1 style="width:30vw;margin-bottom:20px;margin: auto; border: solid rgb(255, 255, 255) 1px;">TODO LIST</h1>
  <a style="color: white;text-decoration: none;" href="">Aggiunti</a>&nbsp;-
  <a style="color: white;text-decoration: none;" href="">Completati</a>
</div>
<br>
<hr>


<div class="input-group mb-3" style="margin: auto; width: 50vh;">
  <input type="text" class="form-control" placeholder="Inserisci To Do" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="newTodo">
  <button class="btn btn-outline-secondary btn-primary text-white" type="button" id="button-addon2" (click)="saveTodo()">Aggiungi</button>
</div>


<table class="table" style="margin: auto; width: 50vh;">

  <tbody>
    <tr *ngFor="let todo of todos;let i=index;">
      <th scope="row">{{i+1}}</th>
      <td>{{todo.title}}</td>
      <td  style="background-color: rgb(32, 230, 32);text-align: center;color: white;">completato</td>
      <td style="background-color: red;text-align: center;color: white;">elimina</td>
    </tr>
